/* PC、スマホ共通スタイル */
body {
    font-family: "source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif; 
}

p {
    font-size: 15px;
}

/* =================
PC用のスタイル
==================== */
/* 横幅設定 */
body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto 0 auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}
/* ナビゲーションのレイアウト */
#nave-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
}
/* ナビゲーションのリンクの装飾設定 */
/* text-decoration: none;で<a>の下線消し */
#nav-pc > a {
    text-decoration: none;
margin-left: 20px;
}
